.dashboard-content {
    margin-left: 300px;
    margin-right: 100px;
    margin-top: -30px;
}

.dashboard-activities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-activities-table {
    flex: 0 0 70%;
}

.dashboard-activities-linechart {
    background-color: #228B22;
    padding: 20px;
    border-radius: 20px;
}

.sidebar-logout {
    position: absolute !important;
    bottom: 20px;
    /* left: 50px; */
}

.sidebar-account {
    display: flex;
}

.sidebar-account svg {
    margin-right: 10px;
    width: 80px;
    height: 80px;
}

.sidebar-account-title {
    margin-bottom: 0;
    font-weight: bold;
}

.sidebar-account-email {
    margin: 0;
    font-size: 12px;
}

.sidebar-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
