.navbar-button-link {
    font-family: 'IntroRust' !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 15px;
}

.navbar-button {
    background: #2E7D32;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12) !important;
    border-radius: 25px !important;
    font-family: 'IntroRust' !important;
    font-style: normal;
    font-weight: 400;
    margin-right: 25px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.footer-menu ul {
    list-style-type: none;
    padding: 0;
}

.footer-menu li {
    color: #2E7D32;
    text-decoration: underline;
    cursor: pointer;
}